<table cellspacing="0" cellpadding="3" border="1" *ngIf="!loading">
  <tr class="header-row">
    <th>#</th>
    <th *ngFor="let column of columns">
      {{column.title | uppercase}}
    </th>
  </tr>
  <tr *ngFor="let row of rows;let i=index;let odd=odd;" [class.odd]="odd">
    <td class="number">{{i}}</td>
    <td *ngFor="let column of columns">
     <div [ngSwitch]="column.type">
        <div *ngSwitchCase="columnTypes.Date">
          {{row[column.field] | date}}
        </div>
        <div *ngSwitchCase="columnTypes.Currency">
          {{row[column.field] | numberFormat:2:true:true:true:unitsOfMeasurement.CURRENCY}}
        </div>
        <div *ngSwitchCase="columnTypes.Input">
          <input type="text" prettyInput [value]="row[column.field]">
        </div>
        <div *ngSwitchDefault>
          {{row[column.field]}}
        </div>
      </div>
    </td>
  </tr>
  <tr *ngIf="withTotal" class="total-row">
    <td></td>
    <td *ngFor="let column of columns">
      <div *ngIf="column.type === columnTypes.Currency">
        {{totalRow[column.field] | numberFormat:2:true:true:true:unitsOfMeasurement.CURRENCY}}
      </div>
    </td>
  </tr>
</table>
<div clas="loader" *ngIf="loading">LOADING...</div>
