<div class="main-page">
  <div class="title">Main page</div>
  <div class="content">
    <div class="left">
    </div>
    <div class="right">
      <main-table-component
        [columns]="tableColumns"
        [rows]="tableRows$ | async"
        [loading]="tableLoading"
        [withTotal]="showTotal">
      </main-table-component>
      <input type="checkbox" name="cb" id="cb" [(ngModel)]="showTotal">
      <label for="cb">Show total</label>
      <button (click)="addUser()">Add user</button>
    </div>
  </div>
</div>
